/*COMPONENTS*/
#map-container {
    width: 100%;
    height: 100vh; /* 100% af Viewport Height - altså hele skærmen */
    z-index: 1;
}

#task-sidebar {
    position: absolute;      
    top: 10px;               
    right: 10px;           
    width: 40vw;             
    height: 90vh;            
    background: #3F5B58;     
    padding: 25px;           
    border-radius: 8px;      
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
    overflow-y: auto;
    z-index: 100;        
}
#task-sidebar input,
#task-sidebar select,
#task-sidebar button {
    width: 90%;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.scrollable-list {
    max-height: 50%;          
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
  }