/*LAYOUT*/
#header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Aligns text to bottom near the line */
  margin-bottom: 5px;
}
#header-row .header-title{
  display: flex;
  align-items: flex-end;
  margin: 2% 0 0 5%;
  width: 30%;
}
 .header-title h1 {
   margin:0;
 }
  img{
    margin-right: 2%;
    width: 10%;
  }
#header-row .header-div{
  width: 30%;
}
.thick-separator {
  border: none;
  height: 20px; /* Thickness of the line */
  background-color: var(--secondary-color); /* Matches title color */
  margin: 0 auto;
  width: 90%;
}