/*GLOBAL STYLING*/
:root{
    --primary-color: #3F5B58;
    --secondary-color: #8D1B3D;
    --background-color: #E9EBEB;
    --military-green: #647851;
    --navy-blue: #1D2C50;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Fylder hele vinduet */
    font-family: sans-serif; /*Fallback til ældre browsere*/
    font-family: var(--headings);
    background-color: var(--background-color);
}
h1, h2, h3 {
    font-weight: bold;
}
h1{
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: bolder;
}

/*Views*/
.view-hidden {
    display: none !important;
}
.view-active {
    display: block; /* Eller grid/flex afhængigt af layout */
}